<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap" rel="stylesheet">
      <title>會員登入</title>
      <link rel="stylesheet" th:href="@{/assets/css/loginStyle.css}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
   </head>
   <body class="login-page">
      <div class="bg-img">
         <div class="content">
            <header>會員登入</header>
            <form th:action="@{/login/doLogin}" method="post">
               <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="text" name="username" required placeholder="帳號">
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" class="pass-key" name="password" required placeholder="密碼">
                  <span class="show">SHOW</span>
               </div>
    <div style="color:red;">
        <!-- 錯誤訊息展示 -->
        <span id="errMsgSpan"></span>
    </div>
               <div class="field">
                  <button type="submit">登入</button>
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="facebook">
                  <i class="fab fa-facebook-f"><span>Facebook</span></i>
               </div>
               <div class="instagram">
                  <i class="fab fa-instagram"><span>Instagram</span></i>
               </div>
            </div>
            <div class="signup">
               Don't have account?
            <form id="goAdd" th:action="@{/users/addUser}" method="post">
			 <button type="submit" style="padding:5px 15px;">Signup Now</button>
			<!-- 只有form表單才能設定http method="post" 所以我要用按鈕跳轉到其他畫面，但不想讓人可以直接輸入url就進來的話，為了使用POST 就還是要用form -->
			</form>
            </div>
         </div>
      </div>
      <script th:inline="javascript">
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
         
       //錯誤訊息顯示  
       const params = new URLSearchParams(window.location.search);
       if (params.has("error")) {
           let errMsg = decodeURIComponent(params.get("error"));
       	document.getElementById('errMsgSpan').textContent = errMsg;
       }
       
// 		function doSubmit() {
// 			$("#goAdd").submit();
// 		}
      </script>
   </body>
</html>